body {
    font: 0.8em Verdana, Helvetica, Arial, sans-serif;
    background: white;
    color: black;
    margin: 1em;
    padding: 0pt;
}

code, pre, span.pre {
  font-size: 120%;
}

a[href] {
  color: #0000c0;
}

ul {
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
}

table.menu {
    font-size: 95%;
}

div.apihead {
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    padding: 2pt;
    margin-bottom: 3pt;
    background: #fffbbe;
}

div.menu {
    border-top: solid 1pt black;
    margin-bottom: 3pt;
    font-weight: bold;
}

#preference_entry {
    margin-top: 5pt;
    font-style: italic;
}

p.small, div.small {
    font-size: 85%;
    padding: 4pt;
}

span.small {
    font-size: 85%;
}

div.indent {
    margin-left: 1.5em;
}

h1.details-header {
    font-size: 220%;
    font-weight: normal;
    margin-top: 0;
}

div.details-subheader {
    font-size: 125%;
    font-weight: normal;
    margin-top: 0;
}

h2.details-section {
    font-size: 150%;
    font-style: italic;
    background-color: #ccf;
    padding: 2px 0.5em 2px 0.5em;
}

h3.details-section {
    margin-bottom: 2pt;
    background-color: #ccf;
    padding: 2px 0.5em 2px 0.5em;
}

h4 {
  font-size: 90%;
  font-style: italic;
}

p.breadcrumbs {
  padding: 2pt;
  border: solid 1px black;
}

.important {
    font-size: 120%;
}

.highlight {
    padding: 0.5em 0.5em  0em 0.5em;
    background: #eeeeee;
}

.highlight p {
    padding: 0pt;
    margin: 0pt;
    padding-bottom: 0.5em;
}

ul.attr-list li {
    margin-bottom: 0.5em;
}

/* Styles that are associated with STX-generated HTML */

div.documentation {
}

div.documentation h1 {
  font-size: 120%;
}

div.documentation h2 {
  font-size: 110%;
  font-style: italic;
}

div.documentation h3 {
  font-style: italic;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

div.documentation p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}

div.documentation ul, ol {
  margin: 0.5em 2em;
}


div.inline-documentation h1 {
  font-size: 120%;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

div.inline-documentation h2 {
  font-size: 110%;
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

div.inline-documentation h3 {
  font-style: italic;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

div.inline-documentation p {
  padding: 0;
  margin: 0 0.5em 0 0;
}

/* Styles for ZCML markup */

code.zcml a {
  color: inherit;
  font-style: italic;
}

code.zcml .attribute {
  color: MediumVioletRed;
}

code.zcml .tagname {
  color: blue;
  font-weight: bold;
}

code.zcml .objectref {
  color: DarkSalmon;
}

b.required {
  color: red;
}

b.optional { 
}
