language: python
sudo: false
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy-5.4.1
script:
  - coverage run -m zope.testrunner --test-path=src  --auto-color --auto-progress

after_success:
  - coveralls
notifications:
  email: false

install:
  - pip install -U pip setuptools
  - pip install -U coveralls coverage
# XXX: Remove these when released
  - pip install git+https://github.com/zopefoundation/zope.app.renderer@python3#egg=zope.app.renderer
  - pip install git+https://github.com/zopefoundation/zope.app.preference@python3#egg=zope.app.preference
  - pip install git+https://github.com/zopefoundation/zope.app.onlinehelp@python3#egg=zope.app.onlinehelp
  - pip install -U -e ".[test]"


cache: pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
