language: python
sudo: false
group: travis_latest
language: python
jobs:
    include:
      - python: 2.7
      - python: 3.4
      - python: 3.5
      - python: 3.6
      - python: 3.7
        dist: xenial
        sudo: true
      - python: pypy
      - python: pypy3
script:
# Coverage slows this old pypy down to several minutes
  - if [[ $TRAVIS_PYTHON_VERSION == pypy* ]]; then zope-testrunner --test-path=src; fi
  - if [[ $TRAVIS_PYTHON_VERSION != pypy* ]]; then coverage run -m zope.testrunner --test-path=src; fi

after_success:
  - coveralls
notifications:
  email: false

install:
  - pip install -U pip setuptools
  - pip install -U coveralls coverage
  - pip install -U -e ".[test]"


cache: pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
