[buildout]
develop = .
parts = test static-apidoc
versions = versions

[versions]
ZODB3 = 3.9.4

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = zope.app.apidoc [test]

[static-apidoc]
recipe = zc.recipe.egg
eggs = zope.app.apidoc [static]
